.app {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

@media (min-width: 769px) {
    .app {
        flex-direction: row;
    }
}

.app .app__menu {
    background-color: rgb(136, 157, 219);
    border-bottom: 1px solid black;
    padding: 20px 30px;
}

@media (min-width: 769px) {
    .app .app__menu {
        width: 250px;
        border-bottom: 0;
        border-right: 1px solid black;
        padding: 30px;
    }
}

.app .app__menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 6px;
}

@media (min-width: 769px) {
    .app .app__menu ul {
        flex-direction: column;
    }
}

.app .app__menu ul li {
    flex: 1;
}

.app .app__menu a {
    color: black;
    font-weight: bold;
    padding: 12px 16px;
    display: block;
    font-size: 1.2rem;
    border: 1px solid black;
    text-decoration: none;
    border-radius: 3px;
}

.app .app__menu a:hover,
.app .app__menu a:focus {
    background-color: gray;
    color: white;
}

.app .app__menu a.active {
    background-color: rgb(112, 168, 241);
}
.app main {
    flex: 1;
    overflow-y: scroll;
}

.app .notice {
    max-width: 460px;
    margin: 0 auto;
}

.app .notice p {
    text-align: center;
    font-weight: bold;
}
